jupyter==1.0.0
numpy==1.20.2
pandas==1.2.4
pytorch-lightning==1.2.10
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
scikit-learn==0.24.2
seaborn==0.11.1
sentencepiece==0.1.95
test_tube==0.7.5
tqdm==4.60.0
transformers==4.5.1